spring:
  cloud:
    function:
      definition: orderCreated
    stream:
      bindings:
        orderSuccess-in-0:
          destination: order-success
          group: notification-group
      kafka:
        binders:
          brokers: localhost:9092
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost

#  rabbitmq:
#    host: ${RABBITMQ_HOST:localhost}
#    port: ${RABBITMQ_PORT:5672}
#    username: ${RABBITMQ_USER:guest}
#    password: ${RABBITMQ_PASS:guest}
#    connection-timeout: 30000
#    virtual-host: ${RABBITMQ_VHOST:guest}

server:
  port: 8085

#rabbitmq:
#  exchange:
#    name: order.exchange
#  queue:
#    name: order.queue
#  routing:
#    key: order.tracking
